@media(max-width: 1770px){
    .design-department h1{
        font-size: 70px;
        line-height: 100px;
        padding: 252px 0px 380px;
    }
    .blog .blog-head{
        margin-bottom: 10px;
        max-height: 200px;
    }
    .design-department h1 p::before {
        top: -7%;
        width: 855px;
    }
    .virtues .virtues-wrapper{
        margin-top: 135px;
    }
    .design-department h1 p::after{
        width: 855px;
        bottom: -82px;
    }
    .blog{
        margin-bottom: 170px;
    }
    .virtues .virtues-block h3{
        font-size: 35px;
        margin-top: 40px;
    }
    .virtues .virtues-block p{
        font-size: 20px;
        margin-top: 40px;
    }
    .blog .blog-head h2{
        font-size: 50px;
    }
    .header-wrapper .header-center img {
        width: 70px;
    }
    .virtues .virtues-block img{
        width: 40px;
    }
    .container{
        max-width: unset;
        width: 85%;
    }
    .virtues .virtues-block {
        padding: 35px 60px 60px;
    }
    .header-wrapper .header-left, .header-wrapper .header-right{
        margin-top: 25px;
    }
    .blog .blog-cards .blog-cards_item h5{
        font-size: 25px;
        line-height: 34px;
    }
    .blog .blog-cards .blog-cards_item p {
        font-size: 20px;
        line-height: 31px;
    }
    .blog .blog-cards .blog-cards_item a{
        font-size: 20px;
    }
    .blog .blog-cards .blog-cards_item a::after{
        width: 45px;
        right: -50px;
    }
    .blog .blog-cards .blog-cards_item a svg {
        width: 30px;
        height: 23px;
    }
    .blog .blog-cards .blog-cards_item h5::before {
        top: 78px;
        left: -121px;
        width: 120px;
    }
    .blog .blog-cards .blog-cards_item .blog-cards-date span,
    .header-wrapper ul a{
        font-size: 16px;
    }
    .blog .blog-cards{
        transform: unset;
    }
    .blog .blog-head .blog-heart {
        transform: translate(-153px, -104px);
        height: 100%;
        width: 432px;
    }
    .discuss .discuss-wrap h3{
        font-size: 50px;
        line-height: 61px;
    }
    .discuss .discuss-wrap p {
        font-size: 20px;
        line-height: 42px;
        margin-top: 20px;
        max-width: 400px;
    }
    .header-wrapper .header-left li:first-child > a::after{
        top: -9px;
        right: -19px;
        width: 44px;
    }
    .blog .blog-head a > img{
        margin-left: 30px;
    }
    .discuss-right{
        transform: translate(73px, -300px);
    }
    .discuss .discuss-wrap a{
        font-size: 16px;
        height: 76px;
        text-align: center;
        padding: 26px 15px;
        width: 261px;
    }
    .discuss-right img{
        width: 535px;
    }
    .discuss .discuss-wrap{
        max-height: 550px;
        padding-top: 90px;
        max-width: unset;
        width: 85%;
    }
    .blog .blog-head a,
    .footer_content-link a,
    .footer_content-title,
    .footer_quote{
        font-size: 16px;
    }
    .footer_quote{
        line-height: 20px;
        max-width: 350px;
    }
    .footer_content .footer_content-link svg{
        width: 25px !important;
        transform: translateY(12px);
    }
    /* MAIM PAGE */
    .experience h1{
        max-width: 800px;
        margin-top: 180px;
        font-size: 70px;
        line-height: 100px;
        padding-bottom: 200px;
    }
    .experience h1::before {
        top: -13%;
        width: 45%;
        left: 24%;
        padding-bottom: 200px;
    }
    .experience-advantages__img {
        width: 49px;
        margin-bottom: 15px;
    }
    .experience-advantages__description{
        font-size: 16px;
        line-height: 20px;
        max-width: 200px;
    }
    .experience-btn{
       margin-top: 80px;
    }
    .experience-btn__call{
        font-size: 16px;
        line-height: 20px;
        padding: 21px 24px;
        width: 255px;
    }
    .experience-btn__addition{
        font-size: 14px;
        margin: 20px auto 0px;
    }
    .experience-btn__addition::after {
        width: 8px;
        height: 80px;
        top: 46px;
    }
    .cliens{
        margin-top: 180px;
        padding-top: 100px;
    }
    .experience-advantages{
        max-width: unset;
        width: 85%;
    }
    .experience-btn__call:hover{
        font-size: 18px;
    }
    .cliens-finished{
        max-width: 1200px;
        font-size: 50px;
        line-height: 61px;
    }
    .cliens .blue-blur{
        top: -450px;
        width: 580px;
    }
    .cliens-addition {
        margin: 20px 0px 80px;
        font-size: 21px;
    }
    .clients-item__logo {
        width: 55px;
        margin-bottom: 0px;
    }
    .cliens-item__about{
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
        margin-bottom: 20px;
    }
    .cliens-item__winner img{
        width: 25px;
    }
    .cliens-item__winner{
        font-size: 13px;
        line-height: 18px;
        max-width: 235px;
    }
    .cliens-item{
        margin-bottom: 50px;
    }
    .profile-block__be{
        font-size: 45px;
    }
    .profile-block__be::before{
        top: 12%;
        width: 20px;
        left: 10%;
    }
    .profile-block__more {
        margin-top: 20px;
        font-size: 20px;
        line-height: 26px;
    }
    .profile-block__link{
        font-size: 16px;
        height: 62px;
        width: 353px;
        padding: 22px 0px;
    }
    .profile-block__link:hover{
        font-size: 18px;
    }
    .profile-block__photo_first{
        width: 370px;
    }
    .process-header,
    .process-part{
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0px;
    }
    .profile-block__photo_first{
        left: 125px;
    }
    .profile-block__photo_second {
        left: -18px;
        width: 200px;
    }
    .profile-block__photo_third {
        left: -130px;
    }
    .process {
        padding-top: 85px;
    }
    .profile::after{
        bottom: -87%;
        width: 532px;
    }
    .process-header{
        margin-bottom: 45px;
    }
    .process-block{
        margin-top: 45px;
    }
    .process-block__name{
        font-size: 20px;
        line-height: 24px;
        margin: 24px 0px;
    }
    .process-block__description{
        font-size: 14px;
        line-height: 22px;
        max-width: 280px;
    }
    .process-wrap{
        padding: 60px;
    }
    .profile-block{
        padding-left: 60px;
    }
    .process-bottom__deliverables{
        font-size: 25px;
        margin-bottom: 70px;
    }
    .process-bottom__download {
        font-size: 16px;
    }
    .process-bottom{    
        padding-left: 60px;
        padding-right: 60px;
    }
    .process-bottom__download-img{
        width: 18px;
        margin-right: 5px;
    }
    .process-bottom__item_des{
        font-size: 16px;
    }
    .process-bottom__des{
        font-size: 16px;
        line-height: 26px;
        max-width: 500px;
    }
    .process-bottom__item_img {
        width: 25px;
    }
    .process-bottom__items{
        max-width: 400px;
    }
    .process-bottom__item{
        min-width: 160px;
    }
    .process-block__more{
        font-size: 16px;
    }
    .process-block__more img {
        margin-right: 5px;
        width: 30px;
    }
    .process-heart {
        width: 30%;
        transform: translate(0px, -120px);
        right: 35%;
    }    
    .roles-header{
        font-size: 50px;
        line-height: 61px;
    }
    .roles-wrap {
        margin-top: 80px;
    }
    .roles-item{
        margin-bottom: 80px;
    }
    .roles-item__post{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .roles-item__decs{
        font-size: 14px;
        line-height: 22px;
        max-width: 260px;
    }
    .discuss .discuss-wrap a:hover{
        font-size: 18px;
        transition: 0.3s;
    }
}
@media(max-width: 1340px){
    .discuss-right img {
        width: 445px;
    }
    .discuss .discuss-wrap{
        padding-left: 60px;
    }
    .discuss-right {
        transform: translate(73px, -250px);
    }
    .blog .blog-cards .blog-cards_item{
        padding-left: 0px;
    }
    .blog .blog-cards .blog-cards_item h5::before{
        left: -59px;
    }
    .discuss .discuss-wrap {
        padding-bottom: 0px;
    }
    .cliens-wrapper{
        justify-content: space-between;
    }
    .cliens-item {
        width: 28%;
    }
    .profile-block__photo_first {
        width: 45%;
        left: 86px;
    }
    .profile-block__photo_second {
        left: -37px;
        width: 166px;
    }
    .profile-block__photo_third {
        left: -114px;
    }
    .profile-block__photo{
       margin-top: 60px;
    }
    .profile-block__info{
        width: 32%;
    }
    .profile-block__photo {
        width: 63%;
    }
}


@media screen and (max-width: 1140px){
    .discuss .discuss-wrap h3 {
        font-size: 42px;
        line-height: 48px;
    }
    .profile-block__link{
        display: none;
    }
    .blog .blog-cards .blog-cards_item, .virtues .virtues-block{
        width: 80%;
        margin-bottom: 30px;
    }
    .blog .blog-head .blog-heart {
        transform: translate(-216px, -238px);
        width: 380px;
    }
    .header-wrapper .header-left, .header-wrapper .header-right {
        width: 42%;
    }
    .header-wrapper .header-left li:first-child > a::after {
        top: -3px;
        right: -8px;
        width: 28px;
    }
    .footer-wrapper .footer-right {
        width: 43%;
    }
    .blog .blog-head h2{
        padding-top: 70px;
    }
    .blog .blog-head{
        max-height: 155px;
    }
    .discuss-right img{
        width: 50%;
        float: right;
    }
    .discuss .discuss-wrap{
        flex-direction: column;
        max-height: unset;
    }
    .discuss-right {
        transform: unset;
        margin: -80px 1px 0px -10px;
    }
    .virtues-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .virtues-block{
        width: 100%;
    }
    .blog-head, .blog-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .see-all{
        display: none;
    }
    /* MAIN PAGE */
    .cliens-item {
        width: 42%;
    }
    .cliens-finished {
        font-size: 37px;
        line-height: 46px;
    }
    .cliens-addition {
        margin: 20px 0px 60px;
        font-size: 18px;
    }
    .profile-block{
        flex-direction: column;
    }
    .profile-block__info {
        width: 100%;
    }
    .profile-block__more{
        max-width: 600px;
    }
    .profile-block__photo {
        width: 100%;
        margin-top: 20px;
    }
    .profile-block__photo_first{
        left: 0px;
    }
    .profile-block__photo_second {
        left: -95px;
    }
    .profile-block__photo_third {
        left: -179px;
        width: 17%;
    }
    .profile-block__be::before{
        left: 5.5%;
    }
    .profile::after {
        bottom: -96%;
        width: 343px;
    }
    .roles-item {
        width: 30%;
        margin-right: 15px;
    }
    .process-heart{
        transform: translate(0px, -80px);
    }
    .profile-block__link_mob{
        display: block;
        font-size: 16px;
        height: 62px;
        width: 100%;
        padding: 22px 0px;
        display: inline-block;
        background: #FFFFFF;
        color: #1161D9;
        margin-top: 80px;
        text-align: center;
        font-weight: 600;
        transition: 0.3s;
    }
    .discuss-right {
        margin: 0px auto;
        order: -1;
        text-align: center;
        
    }
    .discuss-right img {
        float: unset;
        margin-top: -200px;
        width: 45%;
    }
    .discuss .discuss-wrap .discuss-left{
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 880px){
    .design-department h1,
    .experience h1 {
        font-size: 46px;
        line-height: 76px;
    }
    .design-department h1 p::before {
        top: -2%;
        width: 563px;
    }
    .header-wrap-mobile {
        display: block;
    }
    .design-department h1 p::after {
        width: 563px;
        bottom: -62px;
    }
    .header-wrap-mobile input{
        display: none;
    }
    .header-wrap-mobile input + label {
        position: absolute;
        top: 30px;
        right: 20px;
        height: 20px;
        width: 25px;
        z-index: 5;
   }
   .header-wrap-mobile input ~ nav > .header-mob-open ul li:first-child a{
       position: relative;
   }
   .header-wrap-mobile input ~ nav > .header-mob-open ul:last-child li:first-child a::after {
        content: '';
        position: absolute;
        top: -16px;
        right: -32px;
        width: 45px;
        height: 45px;
        background: url(../img/header-el.png) no-repeat;
        background-size: 100%;
        z-index: -1;
    }
   .header-wrap-mobile input + label.fixed{
       position: fixed;
   }
    .header-wrap-mobile input + label span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: #020304;
        transition: 0.5s;
   }
    .header-wrap-mobile input + label span:first-child {
        top: 3px;
   }
    .header-wrap-mobile input + label span:last-child {
        top: 16px;
   }
    .header-wrap-mobile label:hover {
        cursor: pointer;
   }
    .header-wrap-mobile input:checked + label span {
        opacity: 0;
        top: 50%;
   }
    .header-wrap-mobile input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
        background-color: #fc0;
   }
    .header-wrap-mobile input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
        background-color: #fc0;
   }
    .header-wrap-mobile input ~ nav {
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 3;
        transition: 0.5s;
        transition-delay: 0.5s;
        overflow: hidden;
   }
    .header-wrap-mobile input ~ nav > .header-mob-open {
        text-align: center;
        position: absolute;
        top: 10%;
        left: 16%;
        right: 16%;
   }
    .header-wrap-mobile input ~ nav > .header-mob-open > ul > li {
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0s;
        font-family: 'Montserrat', sans-serif;
   }
    .header-wrap-mobile input ~ nav > .header-mob-open > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(44, 58, 92, 0.5);
        font-weight: 700;
        display: block;
        padding: 25px;
   }
   .header-wrap-mobile input ~ nav > .header-mob-open  ul  li:first-child a{
        font-weight: 900;
        color: #2C3A5C;
        position: relative;
    }
   .design-department{
        background-position: 15%;
   }
    .header-wrap-mobile input:checked ~ nav {
        /* background-color: #fff; */
        background: url(../img/design-circle.png) no-repeat;
        background-size: 40%;
        background-position: top -48px left -69px;
        background-color: rgb(255 255 255);
        height: 100%;
        transition-delay: 0s;
   }
    .header-wrap-mobile input:checked ~ nav > .header-mob-open > ul > li {
        opacity: 1;
        transition-delay: 0.5s;
   }   
   .header-desktop{
       display: none;
   }
   .virtues .virtues-wrapper{
       margin-top: 40px;
   }
   .blog .blog-head .blog-heart {
        transform: translate(55px, -238px);
        width: 300px;
    }
    .virtues .virtues-block h3 {
        font-size: 28px;
    }
    .blog .blog-head h2 {
        font-size: 36px;
    }
    .blog .blog-head{
        align-items: self-start;
        width: 80%;
        margin: 0 auto;
    }
    .virtues .virtues-block p {
        margin-top: 20px;
    }
    .blog .blog-cards .blog-cards_item a {
        font-size: 18px;
    }
    .blog .blog-cards .blog-cards_item{
        padding-bottom: 60px;
    }
    .discuss .discuss-wrap h3 {
        font-size: 32px;
        line-height: 38px;
    }
    .blog{
        margin-bottom: 0px;
    }
    .blog .blog-cards .blog-cards_item .blog-cards-date{
        margin: 30px 63px 0px;
        padding: 30px 0px 0px;
    }
    .blog .blog-cards .blog-cards_item h5 {
        font-size: 20px;
        line-height: 28px;
    }
    .blog .blog-cards .blog-cards_item p {
        padding: 20px 63px 40px;
    }
    .discuss .discuss-wrap p,
    .blog .blog-cards .blog-cards_item p,
    .virtues .virtues-block p{
        font-size: 18px;
        line-height: 26px;
    }
    .discuss .discuss-wrap a {
        padding: 16px 45px;
    }
    .footer-wrapper{
        flex-direction: column;
        margin: 40px 0px 50px;
    }
    .footer-wrapper .footer-right, .footer-wrapper .footer-left{
        width: 80%;
    }
    .virtues .blue-blur,
    .virtues .viollet-blur,
    .blog .blog-blue-blur,
    .blog .blog-viollet-blur{
        width: 75%;
    }
    .design-department h1 p::before,
    .design-department h1 p::after{
        display: none;
    }
    .blog .blog-cards .blog-cards_item, .virtues .virtues-block,
    .footer-wrapper .footer-right, .footer-wrapper .footer-left{
        width: 100%;
    }
    .footer-wrapper .footer-right, .footer-wrapper .footer-left{
        justify-content: flex-start;
    }
    .footer_content{
        width: 50%;
    }
    /* MAIN PAGE */
    .experience-advantages__img {
        width: 30px;
        margin-bottom: 0px;
    }
    .experience h1{
        padding-bottom: 110px;
    }
    .cliens-finished {
        font-size: 25px;
        line-height: 30px;
    }
    .cliens-addition{
        font-size: 16px;
        max-width: 400px;
    }
    .profile-block__photo_second{
        width: 127px;
    }
    .profile-block__photo_first {
        left: -10px;
    }
    .profile-block__photo_third {
        left: -153px;
    }
    .profile-block__be::before {
        left: 8.7%;
    }
    .profile-block__link,
    .process-bottom__download_des{
        display: none;
    }
    .profile-block__photo{
        margin-top: 0px;
    }
    .profile-block__info{
        padding-top: 20px;
    }
    .profile-block,
    .process-wrap, 
    .process-bottom{
        padding: 40px 40px 60px;
    }
    .process-header, .process-part {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .process-block__number {
        font-size: 18px;
    }
    .process-block__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .process-block__description,
    .process-bottom__des{
        max-width: unset;
    }
    .process-block,
    .process-bottom{
        flex-direction: column;
    }
    .process-bottom__right{
        width: 100%;
    }
    .process-bottom__deliverables{
        margin-bottom: 20px;
    }
    .process-bottom__item {
        min-width: unset;
    }
    .profile::after{
        width: 300px;
    }
    .roles-item {
        width: 47%;
        margin-right: 0px;
    }
    .roles-wrap{
        justify-content: space-between;
    }
    .roles-header {
        font-size: 30px;
        line-height: 32px;
    }
    .roles-wrap {
        margin-top: 50px;
    }
    .experience .viollet-blur,
    .cliens .blue-blur,
    .profile .blue-blur,
    .process .blue-blur,
    .process .orange-blur,
    .process .viollet-blur,
    .roles-blur{
        width: 400px;
        height: 700px;
    }
    .process-heart {
        width: 45%;
        right: 29%;
    }
    .process-wrap-last .process-block__item{
        width: 100%;
    }
    .process-bottom__download_mob{
        display: block;
        margin-top: 30px;
    }
}

@media screen and (max-width: 580px){
    .discuss .discuss-wrap{
        padding: 35px;
        margin-top: 0px;
    }
    .discuss .discuss-wrap .discuss-left{
        text-align: center;
    }
    .discuss .discuss-wrap h3,
    .discuss .discuss-wrap p{
        text-align: left;
    }
    .header-wrap-mobile input ~ nav > .header-mob-open > ul > li > a{
        padding: 18px;
    }
    .blog .blog-cards .blog-cards_item h5,
    .blog .blog-cards .blog-cards_item p,
    .blog .blog-cards .blog-cards_item a{
        padding-left: 40px;
    }
    .blog .blog-cards .blog-cards_item .blog-cards-date{
        margin-left: 40px;
    }
    .blog .blog-cards .blog-cards_item{
        padding-top: 35px;
        padding-right: 0px;
    }
    .blog .blog-cards .blog-cards_item a::after {
        width: 30px;
        right: 0px;
    }
    .blog .blog-cards .blog-cards_item .blog-cards-date span, .header-wrapper ul a {
        font-size: 14px;
    }
    .design-department h1{
        padding: 130px 0px 100px;
    }
    .design-department h1::before{
        width: 45%;
        left: 8%;
    }
    .blog .blog-cards .blog-cards_item a svg{
        margin-right: 10px;
    }
    .blog .blog-head .blog-heart {
        transform: translate(0px, -200px);
        width: 236px;
    }
    .design-department h1 {
        font-size: 37px;
        line-height: 54px;
    }
    /* MAIN PAGE */
    .experience h1{
        font-size: 25px;
        line-height: 30px;
        max-width: 300px;
        margin-top: 300px;
    }
    .experience h1::before {
        top: -133%;
        width: 70%;
        left: 14%;
        padding-bottom: 200px;
    }
    .experience .viollet-blur,
    .cliens .blue-blur,
    .profile .blue-blur,
    .process .blue-blur,
    .process .orange-blur,
    .process .viollet-blur,
    .roles-blur{
        width: 300px;
        height: 500px;
    }
    .experience-advantages{
        flex-direction: column;
        margin-top: -63px;
    }
    .experience-advantages__description{
        margin: 0 auto;
    }
    
    .cliens-wrapper-desktop,
    .process-blur{
        display: none;
    }
    .clients-slider{
        display: block;
        margin-left: 15px;
    }
    .process-heart {
        transform: translate(0px, -54px);
    }

    .slick-prev, .slick-next,
    .slick-dots{
        display: none !important;
    }
    .cliens-item__about{
        max-width: 280px;
        margin-right: 25px;
    }
    .profile::after {
        width: 220px;
    }
    .profile-block__be::before {
        left: 14.7%;
    }
    .process-block{
        margin-top: 0px;
    }
    .process-bottom__items{
        margin-top: 30px;
        flex-direction: column;
    }
    .process-bottom__item{
        margin-bottom: 20px;
    }
    .process-bottom__download_mob{
        margin-top: 0px;
    }
    .roles {
        padding-top: 100px;
    }
    .roles-wrap{
        flex-direction: column;
    }
    .roles-item{
        width: 100%;
        margin-bottom: 32px;
    }
    .cliens-addition{
        margin: 24px 0px 30px;
        font-size: 16px;
        line-height: 25px;    
    }
    .profile{
        padding-top: 127px;
    }
    .profile-block__photo_second {
        left: -60px;
        width: 29%;
        top: 27px;
    }
    .profile-block__photo_first {
        left: -7px;
        width: 51%;
        top: 23px;
    }
    .profile-block__photo_third {
        left: -82px;
        width: 17%;
        top: 25px;
    }
    .profile-block__link_mob{
        margin-top: 60px;
    }
    .experience h1::before {
        top: -136%;
        width: 80%;
        left: 10%;
        padding-bottom: 58px;
    }
    .experience h1 {
        font-size: 25px;
        line-height: 30px;
        max-width: 300px;
        margin-top: 289px;
    }
    .experience-advantages__img {
        width: 50px;
        margin-bottom: 18px;
    }
    .experience-advantages__item{
        margin-bottom: 30px;
    }
    .experience-btn {
        margin-top: 29px;
    }
    .experience-btn__call{
        width: 280px;
    }
    .experience-btn__addition{
        margin-top: 28px;
    }
    .container {
        max-width: unset;
        width: 88%;
    }
    .cliens {
        margin-top: 127px;
    }
    .clients-item__logo{
        margin-bottom: 10px;
    }
    .profile .container,.discuss .container{
        width: 100%;
    }
    .profile-block{
        padding: 15px 20px 49px;
    }
    .profile-block__more{
        margin-top: 30px;
        line-height: 30px;
    }
    .process-header {
        font-size: 25px;
        margin-bottom: 4px;
    }
    .process-part{
        margin-bottom: 28px;
        font-size: 25px;
    }
    .process {
        padding-top: 54px;
    }
     .process-wrap {
        padding: 7px 14px 38px;
    }
    .process-bottom {
        padding: 34px 17px 30px;
        margin-bottom: 20px;
    }
    .process-bottom__des{
        margin-top: 3px;
    }
    .process-block__name{
        margin: 20px 0px;
    }
    .process-block__description, .process-bottom__des {
        max-width: 225px;
    }
    .process-block__item{
        margin-bottom: 23px;
    }
    .roles-header {
        font-size: 28px;
    }
    .roles-wrap {
        margin-top: 33px;
    }
    .roles-item__post{
        margin-bottom: 24px;
    }
    .cliens .blue-blur {
        top: -30%;
    }
    .profile .blue-blur{
        top: -28%;
    } 
    .process .blue-blur,
    .process .viollet-blur,
    .roles-blur__blue{
        display: none;
    }
    .roles-blur{
        top: 5%;
    }
    .roles-item__decs{
        max-width: unset;
    }
    .clients-slider .container{
        width: 100%;
    }
    .discuss-right img {
        margin-top: -100px;
        width: 70%;
    }
    .discuss .discuss-wrap .discuss-left{
        padding-bottom: 0px;
    }
    .discuss .discuss-wrap{
        width: 100%;
    }
}


@media screen and (max-width: 400px){
    .blog .blog-cards .blog-cards_item h5{
        padding: 0px 20px;
        font-size: 18px;
        line-height: 24px;
    }
    .clients-slider{
        margin-left: 10px;
    }
    .process-heart {
        width: 65%;
        right: 15%;
    }
    .profile::after {
        width: 65%;
        left: 33%;
        bottom: -96%;
    }
    .process-part {
        font-size: 22px;
    }
    .blog .blog-cards .blog-cards_item h5::before{
        height: 2px;
        top: 50px;
        width: 100px;
        left: -49px;
    }
    .blog .blog-cards .blog-cards_item a::after {
        width: 24px;
        right: -20px;
        top: 26px;
    }
    .discuss .discuss-wrap,
    .blog .blog-head{
        width: 100%;
    }
    .discuss .discuss-wrap a {
        padding: 16px 20px;
        width: 100%;
    }
    .discuss .discuss-wrap{
        padding: 35px 20px;
    }
    .blog .blog-cards .blog-cards_item .blog-cards-date{
        margin: 20px 20px 0px;
    }
    .blog .blog-cards .blog-cards_item a svg {
        width: 23px;
    }
    .blog .blog-cards .blog-cards_item p,
    .blog .blog-cards .blog-cards_item a {
        padding: 20px 20px 40px;
        font-size: 16px;
    }
    .discuss .discuss-wrap p, .blog .blog-cards .blog-cards_item p, .virtues .virtues-block p{
        font-size: 16px;
        line-height: 23px;
    }
    .virtues .virtues-block {
        padding: 25px 20px 40px;
    }
    .virtues .virtues-block h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    .footer_content .footer_content-link svg {
        width: 15px !important;
        padding-right: 3px;
    }
    .blog .blog-head a, .footer_content-link a, .footer_quote{
        font-size: 14px;
    }
    .footer-right .footer_content:first-child{
        width: 68%;
    }
    .cliens-item__about {
        max-width: 228px;
    }
}