* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: rgba(245, 245, 245, 0.3);
    border: 1px solid #EDEDED;
}

.container{
    max-width: 1715px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
}

.header-wrapper ul{
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul a{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: rgba(44, 58, 92, 0.5);
    outline: none;
}

.header-wrapper ul a:hover,
.header-wrapper .header-right li:last-child > a:hover,
.blog .blog-head a:hover,
.blog .blog-cards .blog-cards_item a:hover,
.footer_content-link a:hover{
    color: #FFCC00;
    transition: 0.3s;
}

.header-wrapper .header-left,
.header-wrapper .header-right{
    width: 35%;
    margin-top: 50px;
}

.header-wrapper .header-left li:first-child > a{
    font-weight: 900;
    color: #2C3A5C;
    position: relative;
}

.header-wrapper .header-left li:first-child > a::after{
    content: '';
    position: absolute;
    top: -16px;
    right: -32px;
    width: 65px;
    height: 65px;
    background: url(../img/header-el.png) no-repeat;
    background-size: 100%;
    z-index: -1;
}

.header-wrapper .header-center a{
    outline: none;
}

.header-wrapper .header-center img{
    width: 110px;
    height: auto;
    margin-top: 10px;
}

.header-wrapper .header-right li:last-child > a{
    font-weight: bold;
    text-decoration: underline;
    color: #2C3A5C;
    cursor: pointer;
}


.design-department{
    background: url(../img/design-dep.png) no-repeat;
    background-size: cover;
    text-align: center;
    background-position: 0% 35%;
}

.design-department h1{
    font-weight: 900;
    font-size: 105px;
    line-height: 150px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px #111111;
    padding: 430px 0px 391px;
    position: relative;
}

.design-department h1::before{
    content: '';
    position: absolute;
    top: 24%;
    left: 19%;
    background: url(../img/design-circle.png) no-repeat;
    background-size: 100%;
    width: 28%;
    height: 100%;
    z-index: -1;
}

.design-department h1 p{
    color: #000000;
    position: relative;
    text-align: center;
}

.design-department h1 p::before{
    content: '';
    position: absolute;
    top: -4%;
    background: url(../img/up.png) no-repeat;
    background-size: 100%;
    width: 1284px;
    height: 100%;
}

.design-department h1 p::after{
    content: '';
    position: absolute;
    bottom: -4%;
    background: url(../img/down.png) no-repeat;
    background-size: 100%;
    width: 1284px;
    height: 100%;
    bottom: -122px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
}

.virtues {
    position: relative;
}

.virtues .virtues-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 207px;
}

.virtues .virtues-block img{
    width: 60px;
}

.virtues .virtues-block h3{
    font-weight: bold;
    font-size: 52px;
    line-height: 43px;
    color: #000000;
    margin-top: 66px;
    position: relative;
}

.virtues .virtues-block p{
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 66px;
}

.virtues .virtues-block:first-child h3::before{
    content: '';
    position: absolute;
    top: 18px;
    left: -87px;
    width: 60px;
    height: 5px;
    background-color: #5b25b3;
    transform: rotate(90deg);
}

.virtues .virtues-block:last-child h3::before{
    content: '';
    position: absolute;
    top: 18px;
    left: -87px;
    width: 60px;
    height: 5px;
    background-color: #f55345;
    transform: rotate(90deg);
}

.virtues .blue-blur{
    background: url(../img/company.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    top: -331px;
    left: 0px;
}

.virtues .viollet-blur{
    background: url(../img/company-2.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    top: -650px;
    right: 0px;
}

.blog{
    position: relative;
    margin-bottom: -100px;
}

.blog .blog-viollet-blur{
    background: url(../img/company-3.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    bottom: -600px;
    left: 0px;
    z-index: -1;
}

.blog .blog-blue-blur{
    background: url(../img/company-4.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -2;
}

.blog .blog-head{
    display: flex;
    justify-content: space-between;
}

.blog .blog-head h2{
    font-size: 76px;
    font-weight: 700;
    padding-top: 130px;
}

.blog .blog-head a > svg{
    margin-left: 44px;
}

.blog .blog-head .blog-heart{
    width: 34%;
    transform: translate(-155px, -141px);
    z-index: -1;
}

.blog .blog-head a{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #5B24B3;
    margin-top: 153px;
    outline: none;
}

/* .blog .blog-head a:hover{
    color: #FFCC00;
    transition: 0.3s;
} */

.blog .blog-head a:hover svg > path{
    stroke: #FFCC00;
    transition: 0.3s;
}

.blog .blog-cards{
    display: flex;
    justify-content: space-between;
    transform: translateY(-280px);
}
.blog .blog-cards .blog-cards_item{
    padding: 65px 60px 106px;
}
.virtues .virtues-block{
    padding: 85px 60px 126px;
}

.blog .blog-cards .blog-cards_item,
.virtues .virtues-block{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(60px);
    width: 49%
}

.blog .blog-cards .blog-cards_item h5{
    color: #000000;
    font-weight: 900;
    font-size: 38px;
    padding: 24px 60px;
    line-height: 54px;
    position: relative;
}

.blog .blog-cards .blog-cards_item h5::before{
    content: '';
    position: absolute;
    top: 110px;
    left: -135px;
    width: 150px;
    height: 4px;
    background-color: #000;
    transform: rotate(90deg);
}

.blog .blog-cards .blog-cards_item p{
    color: #606060;
    font-size: 30px;
    line-height: 44px;
    padding: 45px 63px 66px;
}

.blog .blog-cards .blog-cards_item a{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000000;
    padding: 26px 63px;
    position: relative;
    outline: none;
}

.blog .blog-cards .blog-cards_item a::after{
    position: absolute;
    content: '';
    background: url(../img/mm.png) no-repeat;
    top: 30px;
    right: -70px;
    width: 74px;
    height: 74px;
    background-size: 100%;
}

.blog .blog-cards .blog-cards_item a svg{
    width: 45px;
    height: 36px;
    margin-right: 27px;
    transform: translateY(4px);
}

.blog .blog-cards .blog-cards_item .blog-cards-date{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #adadad;
    margin: 57px 63px 0px;
    padding: 49px 0px 0px;
}

.blog .blog-cards .blog-cards_item .blog-cards-date span{
    color: #6A6A6A;
    font-size: 24px;
}

.discuss{
    transform: translateY(100px);
    position: relative;
}

.discuss .discuss-wrap{
    background: #FFCC00;
    padding: 116px 0px 116px 116px;
    max-width: 1470px;
    margin: 76px auto 0px;
    display: flex;
    justify-content: space-between;
    max-height: 644px;
}

.footer_content-link:hover svg > path{
    fill: #FFCC00;
    transition: 0.3s;
}

.discuss .discuss-wrap .discuss-left{
    width: 95%;
}

.discuss .discuss-wrap h3{
    font-weight: 500;
    font-size: 74px;
    line-height: 80px;
    color: #000000
}

.discuss .discuss-wrap p{
    font-size: 31px;
    line-height: 42px;
    color: #505050;
    margin-top: 51px;
    max-width: 595px;
}

.discuss .discuss-wrap a{
    display: inline-block;
    border: 2px solid #272727;
    padding: 30px 94px;
    font-size: 30px;
    font-weight: 500;
    margin: 51px 0px 0px;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.discuss .discuss-wrap a:hover{
    font-size: 32px;
    transition: 0.3s;
}

.discuss-right img{
    width: 100%;
}

.discuss-right{
    transform: translate(73px, -409px);
    width: 100%;
}

footer{
    background: #1A1A1A;
    padding: 117px 0px 10px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 443px;
    max-width: 1605px;
}

.footer-wrapper .footer-right,
.footer-wrapper .footer-left{
    display: flex;
    justify-content: space-between;
}
.footer-wrapper .footer-right{
    width: 38%;
}

.footer-wrapper .footer-left{width: 33%;}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_content-link a{
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 215%;
    display: flex;
    align-items: center;
    outline: none;
    display: inline;
}

.footer_content-title{
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 65px;
}

.footer_content-link svg{
    padding-right: 10px;
    transform: translateY(8px);
    width: 35px !important;
    height: 35px !important;
}

.footer_content-link span{
    padding-right: 10px;
    font-weight: 900;
    font-size: 30px;
}

.fw{
    font-weight: 500;
}

.footer_quote{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px; 
    color: #FFFFFF;
    margin-bottom: 55px;
    max-width: 500px;
}

.header-wrap-mobile {
    display: none;
}

/* OPIUM MAIN PAGE */

.experience{
    text-align: center;
}

.experience h1{
    font-weight: 500;
    font-size: 105px;
    line-height: 121px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin: 345px auto 0px;
    max-width: 1191px;
    position: relative;
    padding-bottom: 300px;
}

.experience h1::before{
    content: '';
    position: absolute;
    top: -36%;
    background: url(../img/main-heart.svg) no-repeat;
    background-size: 100%;
    width: 53%;
    height: 100%;
    z-index: -1;
    left: 21%;
}

.experience-advantages{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: -43px auto 0px;
}

.experience-advantages__item{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.experience-advantages__img{
    width: 80px;
    height: 80px;
    margin: 0 auto 43px;
}

.experience-advantages__description{
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    max-width: 300px;
}

.experience-btn{
    margin: 127px auto 0px;
}

.experience-btn__call{
    background: #FFCC00;
    box-shadow: 0px 10px 30px rgba(255, 204, 0, 0.2);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #111111;
    padding: 33px 62px;
    font-weight: 600;
    width: 385px;
    display: inline-block;
    outline: none;
    transition: 0.3s;
}

.experience-btn__call:hover{
    box-shadow: none;
    font-weight: 700;
    font-size: 25px;
    transition: 0.3s;
}

.experience-btn__addition{
    color: #9AA8AD;
    font-size: 21px;
    font-weight: 500;
    margin: 42px auto 0px;
    display: block;
    position: relative;
}

.experience-btn__addition::after{
    content: '';
    position: absolute;
    bottom: -4%;
    background: url(../img/adven-arrow.svg) no-repeat;
    background-size: 100%;
    width: 12px;
    height: 220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    top: 66px;
}

.experience .viollet-blur{
    background: url(../img/exp-vb.png) no-repeat;
    background-size: 100%;
    width: 627px;
    height: 700px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.cliens{
    background: rgba(245, 245, 245, 0.4);
    backdrop-filter: blur(24px);
    background: rgba(245, 245, 245, 0.4);
    backdrop-filter: blur(24px);
    padding: 166px 0px 30px;
    backdrop-filter: blur(180px);
    margin-top: 270px;
}

.cliens-finished{
    font-weight: 500;
    font-size: 75px;
    line-height: 92px;
    color: #111111;
}

.cliens-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.cliens-addition{
    margin: 30px 0px 127px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.cliens-item{
    width: 33%;
    margin-bottom: 144px;
}

.clients-item__logo{
    width: 93px;
    height: 93px;
    margin-bottom: 30px;
}

.cliens-item__about{
    font-size: 23px;
    line-height: 28px;
    color: rgba(44, 58, 92, 0.8);
    max-width: 450px;
    font-weight: 500;
    margin-bottom: 37px;
}

.cliens-item__winner{
    color: #5B24B3;
    font-size: 21px;
    display: flex;
    line-height: 32px;
    max-width: 395px;
    font-weight: 600;
}

.cliens-item__winner img{
    margin-right: 19px;
    width: 80px;
}

.cliens .blue-blur{
    background: url(../img/clients-bb.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: -550px;
    z-index: -1;
}

.profile{
    padding: 145px 0px 0px;
}

.profile-block{
    background: #1161D9;
    backdrop-filter: blur(4px);
    color: #fff;
    padding: 23px 0px 93px 80px;
    display: flex;
    justify-content: space-between;
}

.profile-block__info{
    padding-top: 97px;
    width: 37%;
}

.profile-block__be{
    position: relative;
    font-size: 66px;
    font-weight: 700;
}

.profile-block__be::before{
    content: '';
    position: absolute;
    top: 3%;
    background: url(../img/be.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 100%;
    left: 12%;
}

.profile-block__more{
    margin-top: 40px;
    font-size: 30px;
    line-height: 47px;
    max-width: 437px;
}

.profile-block__link{
    display: inline-block;
    background: #FFFFFF;
    color: #1161D9;
    padding: 38px 0px;
    width: 480px;
    margin-top: 48px;
    font-size: 23px;
    text-align: center;
    font-weight: 600;
    height: 100px;
    transition: 0.3s;
}

.profile-block__photo img{
    position: relative;
}

.profile-block__photo_first{
    top: 50px;
    left: 230px;
    z-index: 5;
    width: 48%;
}

.profile-block__photo_second{
    left: 50px;
    top: 50px;
    z-index: 2;
    width: 25%;
}

.profile-block__photo_third{
    left: -108px;
    z-index: 1;
    top: 47px;
    width: 20%;
}

.profile-block__photo{
    width: 95%;
}

.profile-block__link:hover{
    font-weight: 700;
    font-size: 24px;
    transition: 0.3s;
}

.profile {
    position: relative;
}

.profile .blue-blur
{
    background: url(../img/clients-bb2.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    top: -350px;
    right: 0px;
}

.process{
    padding-top: 152px;
}

.process-header{
    font-weight: 700;
    font-size: 70px;
    line-height: 61px;
    color: #111111;
    letter-spacing: 3px;
    margin-bottom: 87px;
}
.process-wrap{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 85px;
}

.process-bottom{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    padding: 61px 85px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.process-wrap,
.process-bottom{
    background: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(60px);
    z-index: 99999;
}

.process-block{
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
}

.process-block__item{
    width: 30%;
}

.process-block__number{
    font-size: 28px;
    line-height: 22px;
    color: #5B24B3;
    font-weight: 600;
}

.process-block__name{
    font-weight: bold;
    font-size: 29px;
    line-height: 24px;
    color: #111111;
    margin: 44px 0px 34px;
    letter-spacing: 0.3px;
}

.process-block__description{
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: rgba(44, 58, 92, 0.79);
    max-width: 415px;
}

.process-part{
    font-weight: 600;
    font-size: 73px;
    line-height: 61px;
    color: #5B24B3;
}

.process-bottom__deliverables{
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    color: #111111;
    font-size: 38px;
    margin-bottom: 100px;
}

.process-bottom__download{
    font-size: 22px;
    color: #5B24B3;
}

.process-bottom__left{
    width: 30%;
}

.process-bottom__right{
    width: 65%;
}

.process-bottom__des{
    font-size: 24px;
    line-height: 32px;
    color: #111111;
    margin-top: 10px;
    max-width: 800px;
    font-weight: 500;
}

.process-bottom__items{
    display: flex;
    justify-content: space-between;
    max-width: 680px;
    margin-top: 80px;
}

.process-bottom__item{
    display: flex;
    min-width: 230px;
}

.process-bottom__item_img{
    width: 40px;
    margin-right: 15px;
    transform: translateY(-7px);
}

.process-bottom__item_des{
    font-size: 24px;
    font-weight: 600;
}

.process-bottom__download-img{
    width: 30px;
    height: 30px;
    margin-right:15px;
}

.process{
    position: relative;
}

.process .viollet-blur{
    background: url(../img/company-2.png) no-repeat;
    background-size: 100%;
    width: 627px;
    height: 1300px;
    position: absolute;
    top: -300px;
    right: 0px;
}

.process .blue-blur{
    background: url(../img/company.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.profile::after{
    content: '';
    position: absolute;
    /* bottom: -4%; */
    background: url(../img/person-pr.png) no-repeat;
    background-size: 100%;
    width: 732px;
    height: 100%;
    top: 5;
    left: 43%;
    right: 0;
    margin: 0 auto;
    display: block;
    bottom: -86%;
    z-index: -1;
}

.process-block__more{
    text-decoration-line: underline;
    color: #0066FF;
    font-size: 24px;
    padding-top: 31px;
    display: inline-block;
}

.process-block__more img{
    margin-right: 15px;
    width: 45px;
}

.process-wrap-sec{
    padding-bottom: 40px;
}

.process-wrap-last{
    position: relative;
}

.process-wrap-last .process-block__item {
    width: 47%;
}

.roles{
    padding-top: 172px;
}

.roles-header{
    font-size: 74px;
    font-weight: 700;
}

.roles-wrap{
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
}

.roles-item{
    width: 33%;
    margin-bottom: 140px;
}

.roles-item__post{
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 44px;
}

.roles-item__decs{
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.process-blur{
    background: url(../img/roles-center.png) center no-repeat;
    background-size: 100%;
    width: 47%;
    height: 1300px;
    position: absolute;
    bottom: -21%;
    left: 26%;
}

.process .orange-blur{
    background: url(../img/process-or-b.png) center no-repeat;
    background-size: 100%;
    width: 47%;
    height: 1300px;
    position: absolute;
    bottom: 16%;
    right: 0%;
}

.process-heart{
    width: 39%;
    transform: translate(0px, -213px);
    z-index: -1;
    position: absolute;
    right: 26%;
}

.roles{
    position: relative;
}

.roles-blur{
    background: url(../img/pr-vl.png) no-repeat;
    background-size: 100%;
    width: 702px;
    height: 1300px;
    position: absolute;
    top: -10%;
    left: 0px;
}

.roles-blur__blue{
    background: url(../img/blue-bl.png) center no-repeat;
    background-size: 100%;
    width: 47%;
    height: 1300px;
    position: absolute;
    bottom: -35%;
    right: 0%;
}

.profile-block__link_mob{
    display: none;
}

.clients-slider,
.process-bottom__download_mob{
    display: none;
}

.header-wrap__logo{
    margin: 0 auto;
    max-width: 47px;
}

.header-wrap__logo img{
    width: 47px;
    padding: 15px 0px;
}